<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<p th:text="'Metadata :' + ${northwind.metadata}"></p>
    <table class="table table-striped" border="1" >
    	<tr>
    		<th>Name</th>
    		<th>URL</th>
    	</tr>
    	<tr th:each="value: ${northwind.value}">
    		<td th:text="${value.name}"></td>
    		<td th:text="${value.url}"></td>
    	</tr>
    </table>
</body>
</html>