<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" ></p>
    <p th:text="'Quote type is, ' + ${quote.type} + '!'" ></p>
    <p th:text="'Quote:' + ${quote.value.quote} + '!'" ></p>
</body>
</html>